<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>XDataGrading</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginChecker</servlet-name>
    <servlet-class>LoginChecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginChecker</servlet-name>
    <url-pattern>/LoginChecker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentChecker</servlet-name>
    <servlet-class>instructor.AssignmentChecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentChecker</servlet-name>
    <url-pattern>/AssignmentChecker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentOptions</servlet-name>
    <servlet-class>AssignmentOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentOptions</servlet-name>
    <url-pattern>/AssignmentOptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitAssignment</servlet-name>
    <servlet-class>InitAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitAssignment</servlet-name>
    <url-pattern>/InitAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchResult</servlet-name>
    <servlet-class>MatchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchResult</servlet-name>
    <url-pattern>/MatchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FailedTestCases</servlet-name>
    <servlet-class>FailedTestCases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailedTestCases</servlet-name>
    <url-pattern>/FailedTestCases</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteLtiSetup</servlet-name>
    <servlet-class>admin.DeleteLtiSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLtiSetup</servlet-name>
    <url-pattern>/DeleteLtiSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDefaultDataSets</servlet-name>
    <servlet-class>instructor.GetDefaultDataSets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDefaultDataSets</servlet-name>
    <url-pattern>/GetDefaultDataSets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetQuestionsForLateSumbission</servlet-name>
    <servlet-class>instructor.GetQuestionsForLateSumbission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionsForLateSumbission</servlet-name>
    <url-pattern>/GetQuestionsForLateSumbission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LateSubmission</servlet-name>
    <servlet-class>instructor.LateSubmission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LateSubmission</servlet-name>
    <url-pattern>/LateSubmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartialMarkingParamsPerInstrQuery</servlet-name>
    <servlet-class>instructor.PartialMarkingParamsPerInstrQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartialMarkingParamsPerInstrQuery</servlet-name>
    <url-pattern>/PartialMarkingParamsPerInstrQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDatasets</servlet-name>
    <servlet-class>instructor.ShowDatasets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDatasets</servlet-name>
    <url-pattern>/ShowDatasets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignRole</servlet-name>
    <servlet-class>admin.AssignRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignRole</servlet-name>
    <url-pattern>/AssignRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAssignment</servlet-name>
    <servlet-class>student.StudentAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAssignment</servlet-name>
    <url-pattern>/StudentAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentTestCase</servlet-name>
    <servlet-class>StudentTestCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentTestCase</servlet-name>
    <url-pattern>/StudentTestCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckQueryEquivalence</servlet-name>
    <servlet-class>CheckQueryEquivalence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckQueryEquivalence</servlet-name>
    <url-pattern>/CheckQueryEquivalence</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateNewCourse</servlet-name>
    <servlet-class>admin.CreateNewCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewCourse</servlet-name>
    <url-pattern>/CreateNewCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCourse</servlet-name>
    <servlet-class>admin.EditCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourse</servlet-name>
    <url-pattern>/EditCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewLmsCredential</servlet-name>
    <servlet-class>admin.NewLmsCredential</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewLmsCredential</servlet-name>
    <url-pattern>/NewLmsCredential</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditLmsCredential</servlet-name>
    <servlet-class>admin.EditLmsCredential</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLmsCredential</servlet-name>
    <url-pattern>/EditLmsCredential</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>admin.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>admin.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestCaseDataset</servlet-name>
    <servlet-class>TestCaseDataset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCaseDataset</servlet-name>
    <url-pattern>/TestCaseDataset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAssignment</servlet-name>
    <servlet-class>ViewAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAssignment</servlet-name>
    <url-pattern>/ViewAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestStudentTestCase</servlet-name>
    <servlet-class>GuestStudentTestCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestStudentTestCase</servlet-name>
    <url-pattern>/GuestStudentTestCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>database.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EvaluateQuestion</servlet-name>
    <servlet-class>instructor.EvaluateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluateQuestion</servlet-name>
    <url-pattern>/EvaluateQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryStatus</servlet-name>
    <servlet-class>instructor.QueryStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStatus</servlet-name>
    <url-pattern>/QueryStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EvaluateAssignment</servlet-name>
    <servlet-class>instructor.EvaluateAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluateAssignment</servlet-name>
    <url-pattern>/EvaluateAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAssignments</servlet-name>
    <servlet-class>instructor.DeleteAssignments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAssignments</servlet-name>
    <url-pattern>/DeleteAssignments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SchemaUpload</servlet-name>
    <servlet-class>instructor.SchemaUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchemaUpload</servlet-name>
    <url-pattern>/SchemaUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSchema</servlet-name>
    <servlet-class>instructor.DeleteSchema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSchema</servlet-name>
    <url-pattern>/DeleteSchema</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SampleDataUpload</servlet-name>
    <servlet-class>instructor.SampleDataUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleDataUpload</servlet-name>
    <url-pattern>/SampleDataUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSampleData</servlet-name>
    <servlet-class>instructor.DeleteSampleData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSampleData</servlet-name>
    <url-pattern>/DeleteSampleData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDatabaseConnection</servlet-name>
    <servlet-class>instructor.DeleteDatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDatabaseConnection</servlet-name>
    <url-pattern>/DeleteDatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDatabaseConnection</servlet-name>
    <servlet-class>instructor.EditDatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDatabaseConnection</servlet-name>
    <url-pattern>/EditDatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteQuestionWithQueries</servlet-name>
    <servlet-class>instructor.DeleteQuestionWithQueries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionWithQueries</servlet-name>
    <url-pattern>/DeleteQuestionWithQueries</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSchemaFile</servlet-name>
    <servlet-class>ShowSchemaFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSchemaFile</servlet-name>
    <url-pattern>/ShowSchemaFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSingleQuery</servlet-name>
    <servlet-class>instructor.UpdateSingleQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSingleQuery</servlet-name>
    <url-pattern>/UpdateSingleQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestUploadedFile</servlet-name>
    <servlet-class>instructor.TestUploadedFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestUploadedFile</servlet-name>
    <url-pattern>/TestUploadedFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDatabaseConnection</servlet-name>
    <servlet-class>instructor.UpdateDatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDatabaseConnection</servlet-name>
    <url-pattern>/UpdateDatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadScore</servlet-name>
    <servlet-class>instructor.UploadScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadScore</servlet-name>
    <url-pattern>/UploadScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMarks</servlet-name>
    <servlet-class>instructor.UpdateMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMarks</servlet-name>
    <url-pattern>/UpdateMarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartialMarkerServlet</servlet-name>
    <servlet-class>PartialMarkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartialMarkerServlet</servlet-name>
    <url-pattern>/PartialMarkerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentScores</servlet-name>
    <servlet-class>instructor.AssignmentScores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentScores</servlet-name>
    <url-pattern>/AssignmentScores</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>  javax.servlet.ServletException </exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type> java.lang.Exception</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <session-config> 
    <session-timeout>2</session-timeout>
  </session-config>
  <filter>
    <filter-name>SessionTimeOutFilter</filter-name>
    <filter-class>SessionTimeOutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionTimeOutFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
    
  </filter-mapping> 
  
</web-app>